/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

.sponsor__des{
  height:35vh;
}
.sponsor__video {
    height: 85vh;
}

